
<h2>BBQ-Kochbuch</h2>
<h3>Auf dieser Seite können Köche ihre Rezepte und Cooks eintragen, verwalten und vergleichen.</h3>

<p>Wähle @Html.ActionLink("hier", "UmleitungLogin") deinen Nutzer aus oder @Html.ActionLink("registriere", "UmleitungRegist") dich</p>
<img src="~/Images/WSM222125264.jpg" />