@model IEnumerable<ImpBBQLibary.Koch>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<label>User ist:</label> @ViewBag.CurrentUser

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Kochname)
            </th>
         
        </tr>

        @foreach (var item in Model)
        {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Kochname)
        </td>
        <td>
            @Html.ActionLink("User auswählen", "Select", new { Identification = item.Id })

        </td>
    </tr>
        }

    </table>
